@import "syntax/default";
@import "utils/gradient-color-at";
@import "colors";

* {
    margin: 0;
    padding: 0;

    font-family: "Consolas", monospace;

    background-color: $background-color;
    color: $text-color;
    font-size: 1rem;
    font-weight: normal;
}

ol {
    padding: 0 1rem;
}

ul {
    padding-top: 1rem;
    list-style: none;

    li::before {
        content: "- ";
    }
}

h1, h2, h3 {
    margin-top: 1rem;
    color: $heading-color;
}

h1 {
    text-transform: uppercase;
}

h2 {
    // color: $text-color;
    text-decoration: underline;
}

em {
    color: $text-color-faded;
}

p {
    margin-top: 1rem;
}

.img1, .img2, .img3, .video {
    margin-top: 1rem;
    max-width: 100%;
}

img, video {
    max-width: 100%;
}

.img2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;

    div {
        max-width: calc(50% - 0.5rem);
    }
}

.content, .header {
    padding: 1rem;
    max-width: 650px;
}

.content {
    padding-top: 0;
}

.content > *:not(h1) {
    margin-left: 1rem;
}

a {
    color: $link-color;
}

.banner {
    #_0 {
        color: gradient-color-at($banner-color-top, $banner-color-bottom, 0);
    }
    
    #_1 {
        color: gradient-color-at($banner-color-top, $banner-color-bottom, 0.2);
    }

    #_2 {
        color: gradient-color-at($banner-color-top, $banner-color-bottom, 0.4);
    }

    #_3 {
        color: gradient-color-at($banner-color-top, $banner-color-bottom, 0.6);
    }

    #_4 {
        color: gradient-color-at($banner-color-top, $banner-color-bottom, 0.8);
    }

    #_5 {
        color: gradient-color-at($banner-color-top, $banner-color-bottom, 1);
    }
}